.Layout {
    background-color: rgb(197, 197, 197);
    font-size: 1.5em;
    font-weight: 800;
    color: rgba(44, 102, 144, 0.824);
    margin-top: 2%;
    margin-left: 3%;
    margin-right: 3%;
    text-decoration: none;
    /* font-weight: 800; */
}

.Layout-bar {
    text-decoration: none;
    color: rgba(44, 102, 144, 0.824);
    display: grid;

}

.Layout-img {
    max-width: 6%;
}

.Layout-bar:visited {
    color: rgba(7, 31, 47, 0.824);
}

.Layout-sidebar {
    font-size: 1.2 em;
    text-decoration: none;
    color: rgba(44, 102, 144, 0.824);
    margin-left: 2.3%;
}

.Layout-sidebar:visited {
    text-decoration: none;
    color: rgba(7, 31, 47, 0.824);
}

/* .Layout-bar:active {
    color: azure;
} */